/**
*
* Last Modified: 27-08-2017
* Description: Stylesheet used by Assay Admin Dashboard
*
**/

/*********************************************************
	TABLE OF CONTENTS
	1. Top Nav
	2. Vertical Side Menu
	3. Right Side Option Panel
**********************************************************/

/************************** 1. Top Nav & Side Nav ********************************/
.dashboard-content {
	background: #f7f7f7;
}
.brand {
	background: #1dc5e9;
	color: #fff;
}
.top-nav {
	background: #1dc5e9;
	border-bottom: 1px solid #1dc5e9;
	color: #fff;
}
.top-nav .nav-right-link .setting a,
.top-nav .nav-right-link .logout a {
	color: #fff;
}
.top-nav .nav-right-link .setting .dropdown-menu a {
	color: #7e869d;
}
.top-nav .nav-right-link .setting .message {
	color: #fff;
	background: #1de986;
}
.top-nav .nav-right-link .setting .notification {
	color: #fff;
	background: #f44236;
}
.top-nav .dropdown-menu h5 i {
	background: #1de986; 
	color: #fff;	
}
.top-nav .nav-left-link input {
    color: #fff;
    background: #1dc5e9;
}
.message-container  .message-item .user-name {
	color: #444b5c;
}
.message-container  .message-item .msg-desc,
.message-container  .message-item .time,
.top-nav  .setting-dropdown li  {
	color: #c6cacf;
}
.message-container  .message-item .count {
	background: #1de986;
	color: #fff;
}
.view-all-msg {
	background: #1de986; 
	color: #fff;	
}
.view-all-msg a {
	color: #fff !important;
}
.top-nav  .setting-dropdown li a:hover {
	color: #1de986;
}
.success-icon,
.task-item .normal-deadline {
	color: #fff;
	background: #1de986;
}
.error-icon{
	background: #f44236;
	color: #fff;
}
.warning-icon{
	background: #f5c22b;
	color: #fff;
}
.footer-wrapper {
	background: #fff;
}
/************************** 2. Vertical Side Menu ********************************/
.side-menu,
.sm-side-menu .dropdown-menu,
.side-menu .dropdown-menu {
	background: #fff;
}
.side-menu ul li,
.side-menu ul li a{
	color: #404E67;
}
.side-menu ul .side-menu-link:hover,
.side-menu .show  .side-menu-link {
	background: #1dc5e9; 
}
.side-menu ul .side-menu-link:hover,
.side-menu .show  .side-menu-link {
	color: #fff;
}
.side-menu .error-info{
	color: #fff;
	background: #f44236;
}
.side-menu .success-info {
	color: #fff;
	background: #1de986;
}
.collapse-menu-link  .collapse a {
	margin-left: 15px;
}
.collapse-menu-link  .collapse a:hover {
	color: #1dc5e9;
}
.collapse-menu-link  .collapse {
	background: #f7f7f7;
}
/************************* 3. Right Side Option Panel *************************************/
.nav-tabs .nav-link {
	color: #7e869d;
}
.nav-tabs .nav-link.active {
	color: #444b5c;
}
.nav-tabs .nav-link.active:after {
	background: #1de986;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	color: #444b5c;
}
.text-danger,
.top-statastics .stat-item  .like-count .fa-caret-down {
	color: #f44236 !important;
}
.text-success ,
.top-statastics .stat-item  .like-count .fa-caret-up{
	color: #1de986 !important;
}
.latest-activities {
	border-left: 3px solid #a389D4;
}
.text-warning {
	color: #f5c22b !important;
}
.text-blue {
	color: #1dc5e9 !important;
}
.text-purple {
	color: #a389D4 !important;
}
.latest-activity-item .time {
	color: #7e869d;
}
.green-user-icon,
.payment-done span{
	background: #1de986;
	color: #fff;
}
.dataTables_paginate .current{
	background: #eee;
}
.task-completed p,
.task-completed span {
	color: #7e869d;
}
.red-user-icon,
.task-item .danger-deadline{
	background: #f44236;
	color: #fff;
}
.yellow-user-icon,
.task-item .warning-deadline  {
	background: #f5c22b;
	color: #fff;
}

/***************************** Widget  ******************************/
.top-statastics .stat-item,
.widget-item {
	background: #fff;
}
.top-statastics .stat-item  .stat-item-count,
.top-statastics .stat-item  .traffic,
.top-statastics .stat-item .social-media,
.top-statastics .stat-item  .like-count,
.top-statastics .stat-item  .las-week-count,
.top-statastics .stat-item  .weekly-stat-count,
.graph-stat-overview .desc,
.dataTables_length,
.dataTables_info,
.region-wise-views .title,
.region-wise-views ul li,
.social-widget .desc,
.email-action-dropdown .dropdown-menu a,
.email-attatchement-box .attatchement-item .size,
.page-title h4,
.top-statastics .analytics-stat-item .desc,
.traffic-status  p,
.country-wise-traffic-item,
.total-views-count .desc,
.leads-stat-widget .leads,
.task-item .desc,
.task-item .time,
.total-task-donut p,
.user-list-widget .user-item  button,
.user-list-widget .user-item  .dropdown-menu .dropdown-item,
.dashboard-top-filter label,
.order-status-stats .desc,
.form-wrapper .icon-input input,
.pricing-widget .pricing-box .desc,
.pricing-widget  .plan-feature-item p,
.bottom-input-border label,
.default-form .input-row label,
.custom-tab-content{
	color: #7e869d;
}
.top-statastics .analytics-stat-item:after {
	color: #eee;
}
.top-statastics .stat-item  h6 {
	background: #1de986; 
	color: #fff;
}
.google i {
	color: #f5c22b;
}
.bing i {
	color: #1dc5e9;
}
.yahoo i {
	color: #a389D4;
}
.graph-lenegds .blue i {
	color: #1dc5e9;
}
.graph-lenegds .purple i {
	color: #a389D4 !important;
}
.graph-lenegds .green i {
	color: #1de986;
}
.graph-lenegds .yellow i {
	color: #f5c22b;
}
.task-widget .completed-task,
.task-widget .progress-task,
.task-widget .total-task {
	color: #7e869d;
}
.task-widget .completed-task span {
	background: #1de986;
	color: #fff;
}
.task-widget .progress-task span,
.payment-pending span {
	background: #f5c22b;
	color: #fff;
}
.task-widget .total-task span {
	background: #f44236;
	color: #fff;
}
.sales-stats .desc {
	color: #7e869d;
}
.social-widget i  {
	background: rgba(29, 197, 233, 0.2);
	color: #1dc5e9;
}
.email-widget-title ul li,
.email-widget-title{
	background: #404E67;
}
.email-widget-title a:hover {
	color: #fff;
}
.email-search input,
.email-search i {
	background: transparent;
	color: #c6cacf;
}
.email-widget-title a {
	color: #c6cacf;
}
.chat-left-wrapper {
	border-right: 1px solid #eee;
}
.chat-search,
.country-wise-traffic-item,
.country-wise-traffic-header {
	border-bottom: 1px solid #eee;
}
.country-wise-traffic-header {
	border-top: 1px solid #eee;
}
.chat-search i {
	color: #404E67;
}
.chat-search input {
	color: #c6cacf;
}
.chat-list-wrapper .message-container .message-item:hover {
	background: #eee;
	cursor: pointer;
}
.email-list-box {
	box-shadow: 1px 1px 5px #eee;
	border: 1px solid #eee;
}
.email-list-box .nav-link.active {
	background: transparent;
}
.email-item:hover {
	background: #eee;
}	
.email-item .subject,
.email-item span,
.email-detailed-box .time {
	color: #7e869d;
}
.green-email-item {
	border-left: 4px solid #1de986;
}
.yellow-email-item {
	border-left: 4px solid #f5c22b;
}
.red-email-item {
	border-left: 4px solid #f44236;
}
.email-action-dropdown .email-action-link {
	background: #1de986;
	color: #fff !important;
}
.email-attatchement-box .attatchement-item {
	background: #f7f7f7;
}
.available {
	background: #1de986;
}
.away {
	background: #f5c22b;
}
.busy {
	background: #f44236;
}
.offline {
	background: #eee;
}
.chat-detailed-box .single-chat-header {
	color: #404E67;
	border-bottom: 1px solid #eee;
}
.chat-box-wrapper .chat-item .self-msg {
	background: #1dc5e9;
	color: #f7f7f7;
}
.chat-box-wrapper .chat-item .others-msg {
	border: 1px solid #eee;
}
.new-chat-btn{
	color: #7e869d;
	border-bottom: 3px solid #1de986;
}
.new-chat-btn:hover {
	color: #1de986;
	text-decoration: none;
}
.top-statastics .analytics-stat-item {
	background: #fff;
}
.traffic-progress .google {
	background: #f5c22b;
}
.traffic-progress .bing {
	background: #1dc5e9;
}
.traffic-progress .yahoo {
	background: #a389D4;
}
.traffic-progress .others {
	background: #1de986;
}
.view-all-user-link{
	color: #fff;
	background: #a389D4;
}
.dashboard-top-filter .filter-link {
	background: #1de986;
	color: #fff;
}
.reset-password-link a {
	color: #1dc5e9;
}
.view-all-user-link:hover,
.dashboard-top-filter .filter-link:hover{
	background: #1dc5e9;
	color: #fff;
}
.login-btn {
	background: #a389D4;
	color: #fff;
}
.yellow-plan-icon {
	color: #f5c22b;
	background: rgba(245, 194, 43, 0.2)
}
.yellow-plan {
	background: #f5c22b;
}
.purple-plan-icon {
	color: #a389D4;
	background: rgba(163, 137, 212, 0.2);
}
.purple-plan {
	background: #a389D4;
}
.blue-plan-icon {
	color: #1dc5e9;
	background: rgba(29, 197, 233, 0.2);
}
.blue-plan {
	background: #1dc5e9;
}
.dark-widget-item {
	background: #eee !important;
}
.tabs-with-circular-icon .nav-tabs .nav-link.active {
	color: #a389D4;
	border: 1px solid #a389D4;
}
.tour-assay-tour .btn-sm {
	padding: 4px 8px 6px;
	font-size: .875rem;
	line-height: 1;
	border-radius: 0;
}
/*********************** Datatables *****************/
table.dataTable thead th,
table.dataTable tbody tr,
.country-wise-traffic-header p,
.total-views-count .count,
.leads-stat-widget .leads span,
.total-task-donut h5,
.user-list-widget .user-item .username,
.order-status-stats .count,
.form-wrapper .icon-input,
.form-wrapper h5,
.reset-password-link,
.pricing-widget .plan-title,
.pricing-widget .pricing-box .pricing,
.input-group-addon,
.form-control,
.custom-control-description,
.bottom-input-border  .input-row{
	color: #7e869d;
}
table.dataTable > tbody .product-desc {
	color: #292b2c;
}
table.dataTable > tbody .actions .download-link {
	color: #1dc5e9;
}