/**
*
* Last Modified: 27-08-2017
* Description: Stylesheet used by Assay Admin Dashboard
*
**/

/*********************************************************
	TABLE OF CONTENTS
	1. Common
	2. Top Nav 
	3. Vertical Side Menu
	4. Right Side Option Panel
	5. Widget 
	6. Datatable styles
	7. Login, Forgot, Registration
	8. Full Calendar
	9. Form Elements & Tabs
	10. Buttons
**********************************************************/

/**********************  1. Common ************************************/

html, body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	width: 100%;
}
.row {
	margin: 0;
	padding: 0;
}
.page-loader-animation {
	height: 100%;
	width: 100%;
	position: fixed;
	background: #f7f7f7;
	z-index: 9999;
}
.page-loader-animation .wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.page-loader-animation .wrapper .first,
.page-loader-animation .wrapper .second,
.page-loader-animation .wrapper .third {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	float: left;
	margin: 0 1px;
}
.page-loader-animation .wrapper .first {
	background: #a389D4;
	animation: first-bl 1s infinite;
}
.page-loader-animation .wrapper .second {
	background: #1dc5e9;
	animation: second-bl 1s infinite;
}
.page-loader-animation .wrapper .third {
	background: #f5c22b;
	animation: third-bl 1s infinite;
}
@keyframes first-bl{
	0%{
		margin-top: 0px;
	}
	50% {
		margin-top: -8px;
	}
	100% {
		margin-top: 0px;
	}
}
@keyframes second-bl{
	0%{
		margin-top: -4px;
	}
	50% {
		margin-top: 0px;
	}
	100% {
		margin-top: -4px;
	}
}
@keyframes third-bl{
	0% {
		margin-top: -8px;
	}
	50% {
		margin-top: 4px;
	}
	100% {
		margin-top: -8px;
	}
}
@-webkit-keyframes first-bl{
	0%{
		margin-top: 0px;
	}
	50% {
		margin-top: -8px;
	}
	100% {
		margin-top: 0px;
	}
}
@-webkit-keyframes second-bl{
	0%{
		margin-top: -4px;
	}
	50% {
		margin-top: 0px;
	}
	100% {
		margin-top: -4px;
	}
}
@-webkit-keyframes third-bl{
	0% {
		margin-top: -8px;
	}
	50% {
		margin-top: 4px;
	}
	100% {
		margin-top: -8px;
	}
}
.main-content-wrapper {
	position: relative;
}
.clear-padding{
	padding: 0;
}
.footer-wrapper {
	padding: 10px 15px;
	margin: 30px 15px 0;
	font-size: 14px;
}
.color-switcher {
	width: 38px;
	position: absolute;
	top: 10%;
	right: 0;
}
.expand-swithcher {
	width: 388px;
}
.color-switcher .colors>div {
	height: 30px;
	width: 30px;
	background: #111;
	float: left;
	margin: 5px;
	border-radius: 50%;
	cursor: pointer;
}
.color-switcher .cogs {
	float: left;
}
.color-switcher .cogs i {
	padding: 10px;
	background: #fff;
	margin-top: 17px;
	color: #fff;
	background: #404E67;
	cursor: pointer;
}
.color-switcher .colors {
	padding: 15px;
	background: #fff;
	float: left;
	box-shadow: 0 0 5px #eee;
}
.color-switcher .hide-colors {
	display: none;
}
.color-switcher .colors .yellow {
	background: #f5c22b;
}
.color-switcher .colors .green {
	background: #1de986;
}
.color-switcher .colors .purple {
	background: #a389D4;
}
.color-switcher .colors .blue {
	background: #1dc5e9;
}
.color-switcher .colors .black {
	background: #404E67;
}
.color-switcher .colors .orange {
	background: #ffcd4d;
}
.color-switcher .colors .light-green {
	background: #bbc673;
}
.color-switcher .colors .main {
	background: #404E67;
}
/*********************** 2. Top Nav & Side Nav *****************************/
.brand {
	float: left;
	padding: 15px;
	width: 240px;
	line-height: 1;
	position: fixed;
}
.brand .brand-logo {
	font-size: 22px;
	margin-right: 15px;
}
.brand .brand-text {
	font-weight: 800;
	letter-spacing: 1px;
	font-size: 22px;
}
.content {
	float: left;
	position: relative;
	margin-left: 240px;
	width: 100%;
}
.top-nav {
	padding: 0px 30px;
	height: 53px;
}
.top-nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.top-nav ul li {
	display: inline;
}
.top-nav ul li img {
	height: 22px;
	border-radius: 50%;
}
.top-nav .nav-left-link {
	padding: 14px 0;
}
.nav-left-link .bars {
	margin-right: 15px;
	cursor: pointer;
}
.nav-left-link .search {
	margin-right: 10px;
}
.top-nav .nav-left-link input {
	border: none;
	font-size: 14px;
}
.top-nav .nav-right-link li {
	position: relative;
}
.top-nav .nav-right-link li  .item {
	border-left: 1px solid #eee;
	display: inline-block;
	padding-top: 14px;
	padding-bottom: 14px;
}
.top-nav .nav-right-link .user {
	padding-left: 10px;
	padding-right: 10px;
}
.top-nav .nav-right-link .setting {
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
}
.top-nav .nav-right-link .logout {
	padding-left: 30px;
	cursor: pointer;
}
.top-nav .nav-right-link .setting a {
	margin: 0 10px;
	cursor: pointer;
	position: relative;
	text-decoration: none;
}
.top-nav .nav-right-link .setting span {
	position: absolute;
	right: -2px;
	font-size: 10px;
	line-height: 1;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	text-align: center;
	top: -6px;
}
.top-nav .dropdown-toggle::after {
	display: none;
}
.top-nav .dropdown-menu {
	border-radius: 0;
	right: 0;
	left: auto;
	top: 170%;
	width: 300px;
	border: 1px solid #eee;
}
.top-nav  .setting-dropdown {
	width: 300px;
}
.top-nav  .setting-dropdown li {
	display: block;
	font-size: 14px;
	padding: 0 15px;
	margin: 15px 0;
}
.top-nav  .setting-dropdown li i {
	width: 20px;
}
.top-nav  .setting-dropdown .last-setting {
	border-top: 1px solid #eee;
	padding-top: 15px;
}
.assay-perfect-scroll {
	position: relative;
}
.message-container {
	height: 250px;
	position: relative;
	overflow: auto;
}
.message-container  .message-item {
	margin: 20px 0;
}
.message-container  .message-item p {
	margin: 0 0 10px;
	font-size: 14px;
	line-height: 1;
}
.message-container  .message-item .msg-desc {
	font-size: 13px;
}
.message-container  .message-item  .notification-desc {
	line-height: 1.6;
}
.message-container  .message-item .count {
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	width: 20px;
	height: 19px;
	font-size: 12px;
	padding-top: 4px;
}
.message-container  .message-item .time {
	font-size: 10px;
}
.message-container  .message-item .time i {
	margin-right: 5px;
}
.success-icon,
.error-icon,
.warning-icon {
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 50%;
	padding: 7px 0;
}
.top-nav .message-item img {
	height: 35px;
}
.top-nav .dropdown-menu {
	padding: 0;
}
.top-nav .dropdown-menu h5 {
	padding: 15px;
	margin: 0;
	line-height: 1;
	border-bottom: 1px solid #eee;
	font-size: 16px;
}
.top-nav .dropdown-menu h5 i {
	font-size: 12px;
	padding: 5px 10px;
	border-radius: 11px;
	margin-top: -3px;
}
.view-all-msg {
	text-align: center;
	padding: 10px 0;
}
.view-all-msg a {
	font-size: 12px;
	font-weight: 700;
}
.sm-brand {
	width: 50px;
}
.sm-brand .brand-text {
	display: none;
}
.sm-content {
	margin-left: 50px;
}
/****************************  3. Vertical Side Menu *****************************/
.side-menu {
	float: left;
	padding: 15px 0;
	width: 240px;
	height: 100%;
	line-height: 1;
	position: fixed;
	box-shadow: 1px 0 20px rgba(0,0,0,.1);
	z-index: 2;
}
.side-menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.side-menu ul li {
	font-size: 15px;
}
.side-menu ul .side-menu-header {
	font-weight: 600;
	padding: 15px;
}
.side-menu ul li a {
	text-decoration: none;
	display: block;
	padding: 15px;
	font-size: 14px;
}
.side-menu ul li i {
	width: 35px;
}
.side-menu .dropdown-toggle {
	position: relative;
}
.side-menu .dropdown-toggle::after {
	position: absolute;
	top: 48%;
	right: 15px;
}
.side-menu .dropdown-menu {
	position: relative;
	border: none;
	width: 100%;
	clear: both;
	border-radius: 0;
}
.side-menu .menu-level-1 {
	padding-left: 15px;
	border-left: 4px solid #c6cacf;
}
.side-menu .nav-link-info{
	display: inline-block;
	font-size: 10px;
	font-weight: 800;
	padding: 5px;
	margin-top: -4px;
	border-radius: 10px;
	margin-right: 15px;
}
.sm-side-menu {
	width: 50px;
}
.sm-side-menu span,
.sm-side-menu .side-menu-header,
.sm-side-menu .nav-link-info,
.sm-side-menu ul li .menu-expand-icon  {
	display: none;
}
.sm-side-menu .dropdown-menu {
	position: absolute;
	top: 0;
	left: 100%;
}
.sm-side-menu .dropdown:hover > .dropdown-menu {
	display: block;
}
.side-menu ul li .menu-expand-icon {
	margin-left: 0;
	width: auto;
	margin-right: 15px;
	font-size: 10px;
	transform: rotate(90deg);
}
.side-menu ul li .collapsed .menu-expand-icon {
	transform: rotate(0deg);
}
@media only screen and (max-width:767px){
	.brand {
		width: 50px;
	}
	.brand-text {
		display: none;
	}
	.top-nav {
		padding: 0 15px;
		margin-left: 50px;
	}
	.top-nav ul .assay-hidden-sm {
		display: none;
	}
	.top-nav .nav-right-link .setting {
		padding: 0 15px;
	}
	.top-nav .nav-right-link .logout {
		padding-left: 15px;
	}
	.top-nav .dropdown-menu {
		left: -450%;
	}
}
/**************** 4. Right Side Option Panel ********************/
.side-option-wrapper {
	position: absolute;
	right: 0;
	width: 304px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background: #fff;
	z-index: 10;
}
.nav-tabs .nav-item {
	margin-bottom: 0;
}
.nav-tabs .nav-link {
	font-size: 14px;
	position: relative;
	padding: 15px 0;
	margin: 0 15px;
	line-height: 1;
}
.nav-tabs .nav-link.active {
	border: 1px solid transparent;
	position: relative;
}
.nav-tabs .nav-link.active:after{
	content: '';
	width: 100%;
	height: 4px;
	position: absolute;
	bottom: -3px;
	left: 0;
}
.nav-tabs {
	border-bottom: 1px solid #eee;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border: 1px solid transparent;
}
.tab-content {
	padding: 0 15px;
}
.deadline-item {
	margin-bottom: 15px;
}
.deadline-title {
	font-size: 14px;
	margin: 0;
}
.deadline-time {
	font-size: 12px;
	margin: 0;
}
.deadline-time i {
	margin-right: 5px;
}
.deadline-project-logo {
	margin: 0;
	line-height: 1;
	text-align: center;
}
.deadline-project-logo img {
	max-width: 100%;
	border-radius: 50%;
}
.right-side-panel-item {
	border-bottom: 1px solid #eee;
	padding: 15px 0;
}
.latest-activity-item .wrapper {
	padding-left: 15px;
	margin: 25px 0;
}
.latest-activity-item .title {
	font-size: 14px;
	margin: 0;
}
.latest-activity-item .time {
	font-size: 12px;
	margin: 0;
}
.latest-activity-item .time i {
	margin-right: 5px;
}
.user-name-circle-icon {
	border-radius: 50%;
	margin: 15px 0;
}
.user-name-circle-icon img{
	max-width: 100%;
	border-radius: 50%;
}
.no-img-user-icon {
	width: 38px;
	height: 38px;
}
.no-img-user-icon p {
	line-height: 1;
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	padding: 11px;
}
.circular-progress-item {
	margin: 20px 0 0;
}
.circular-progress-item p {
	margin: 0 0 5px;
}
.circular-progress-item p i {
	margin-right: 5px;
}
.total-projects {
	font-size: 15px;
	color: #7e869d;
}
.done-projects,
.rem-projects {
	font-size: 12px;
}
.task-todo-wrapper {
	padding-left: 25px;
	border-left: 1px solid #eee;
	margin-left: 10px;
}
.task-todo-wrapper p {
	font-size: 14px;
	margin: 0;
}
.task-todo-item {
	position: relative;
	margin: 15px 0;
}
.task-todo-item span {
	position: absolute;
	left: -33px;
	background: #fff;
	color: #eee;
	line-height: 1;
	top: 10px;
}
.task-completed p {
	text-decoration: line-through;
}
/************************* 5. Widget *********************************/
.widget-title {
	font-size: 17px;
	line-height: 1;
	margin: 0 0 15px;
}
.dashboard-widget-item {
	margin-top: 30px;
}
.dashboard-content {
	padding: 0 15px;
}
.top-statastics .stat-item{
	padding: 15px;
	position: relative;
}
.top-statastics .stat-item .stat-item-title {
	line-height: 1;
	margin-bottom: 25px;
}
.top-statastics .social-media-stats .stat-item-title {
	margin-bottom: 20px;
}
.top-statastics .weekly-sale-stats .stat-item-title {
	margin-bottom: 15px;
}
.top-statastics .stat-item  .stat-item-count {
	line-height: 1;
	font-size: 26px;
	letter-spacing: 1px;
	margin-bottom: 5px;
}
.top-statastics .stat-item  .stat-item-count i {
	margin-right: 15px;
}
.top-statastics .stat-item h6 {
	margin: 0;
	line-height: 1;
	font-size: 14px;
	font-weight: 600;
	padding: 8px 5px;
	border-radius: 10px;
	text-align: center;
}
.top-statastics .stat-item  .traffic {
	line-height: 1;
	font-size: 13px;
	margin: 15px 0;
}
.top-statastics .stat-item  .traffic i {
	margin-right: 10px;
}
.top-statastics .stat-item  .traffic-padding {
	padding: 0 0 0 15px;
}
.top-statastics .stat-item .social-media {
	margin-bottom: 10px;
	text-align: center;
	font-size: 26px;
	line-height: 1;
}
.top-statastics .stat-item .social-media i {
	margin-right: 5px;
}
.top-statastics .stat-item  .like-count {
	line-height: 1;
	margin: 5px 0 0;
	font-size: 18px;
}
.top-statastics .stat-item  .like-count i {
	margin:0 5px;
}
.top-statastics .stat-item  .las-week-count {
	margin: 0;
	font-size: 12px;
	margin-bottom: 10px;
}
.top-statastics .stat-item  .weekly-stat-count {
	line-height: 1;
	font-size: 14px;
}
.top-statastics .stat-item  .weekly-stat-count i {
	width: 20px;
}
.statistics-widget .tab-pane {
	padding: 15px 0;
}
.statistics-widget .widget-item-title {
	margin: 0;
	line-height: 1;
	padding: 15px 15px 0
}
.top-statastics .analytics-stat-item {
	padding: 30px 15px;
	position: relative;
	overflow: hidden;
}
.top-statastics .analytics-stat-item .count {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 15px;
	line-height: 1;
	color: #404E67;
}
.top-statastics .analytics-stat-item .desc {
	font-size: 14px;
	margin: 0;
	line-height: 1;
}
.top-statastics .analytics-stat-item .desc i {
	margin-left: 5px;
}
.top-statastics .analytics-stat-item:after {
	position: absolute;
	font-family: FontAwesome;
	opacity: 0.3;
	font-size: 100px;
	top: -6%;
	line-height: 1;
	right: -10%;
}
.top-statastics .analytics-stat-view:after {
	content: "\f06e";
}
.top-statastics .analytics-stat-sale:after {
	content: "\f291";
}
.top-statastics .analytics-stat-user:after {
	content: "\f0c0";
}
.top-statastics .analytics-stat-orders:after {
	content: "\f1b3";
}
.analytics-stat-icon {
	position: absolute;
	top: 25%;
	right: 10%;
}
.live-stats-wrapper {
	padding: 15px;
}
.social-activities-widget {
	padding: 15px;
}
.latest-feed-widget {
	padding: 15px 0 30px;
}
.latest-feed-widget .message-container {
	height: 350px;
}
.latest-feed-widget .widget-item-title {
	padding: 0 15px;
	margin: 0;
}
.analytics-stat-icon i {
	font-size: 36px;
}
.graph-lenegds {
	line-height: 1;
	margin: 15px 0 30px;
	font-size: 12px;
}
.graph-lenegds span {
	display: inline-block;
	margin-right: 15px;
}
.graph-lenegds span i {
	margin-right: 10px;
}
.graph-stat-overview p {
	margin: 0;
}
.graph-stat-overview .count{
	font-size: 14px;
	font-weight: 600;
}
.graph-stat-overview .count i {
	margin: 0 10px;
}
.graph-stat-overview .desc {
	font-size: 12px;
}
.mixed-chart-widget {
	padding: 15px;
}
.task-widget .progress-bar {
	width: 80%;
	background: #1de986;
}
.task-widget .progress {
	margin-top: 25px;
}
.widget-default {
	padding: 15px;
}
.task-widget p {
	line-height: 1;
}
.task-widget .completed-task,
.task-widget .progress-task,
.task-widget .total-task {
	font-size: 14px;
}
.task-widget i {
	width: 25px;
}
.task-widget span {
	border: 1px solid transparent;
	padding: 5px 0;
	border-radius: 50%;
	font-size: 10px;
	font-weight: 600;
	text-align: center;
	display: inline-block;
	width: 22px;
}
.summary-widget .widget-item-title {
	line-height: 1;
	padding: 15px;
}
.sales-stats p {
	margin-bottom: 15px;
	line-height: 1;
}
.sales-stats .count {
	font-size: 20px;
}
.sales-stats .count .lg-icon {
	font-size: 36px;
}
.sales-stats .desc {
	font-size: 14px;
}
.sales-stats .count i {
	margin: 0 10px;
}
.jqvmap-zoomin, .jqvmap-zoomout {
	padding: 0;
}
.world-map {
	height: 400px;
}
.region-wise-views-widget .widget-item-title {
	padding: 15px;
	line-height: 1;
	margin-bottom: 5px;
}
.region-wise-view-wrapper {
	padding: 0 15px;
}
.region-wise-views ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.region-wise-views ul  li {
	font-size: 14px;
	padding: 15px 0;
	border-bottom: 1px solid #eee;
}
.region-wise-views ul  li .sr-no {
	margin-right: 15px;
}
.region-wise-views .title {
	line-height: 1;
	font-size: 18px;
}
.region-wise-views-widget {
	padding-bottom: 15px;
}
.social-widget {
	padding-top: 30px;
	padding-bottom: 30px;
}
.social-widget i {
	font-size: 28px;
	height: 50px;
	width: 50px;
	padding-top: 11px;
	border-radius: 50%;
	margin-bottom: 10px;
}
.social-widget p {
	margin: 0;
}
.social-widget .count {
	font-size: 18px;
	font-weight: 800;
}
.social-widget .desc {
	font-size: 14px;
}
.email-widget-title {
	position: relative;
}
.email-search {
	position: absolute;
	top: 42px;
	right: 20px;
	line-height: 1;
}
.email-search input {
	border: none;
}
.email-search i {
	margin-right: 10px;
}	
.email-widget-title ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.email-widget-title ul li {
	display: inline-block;
	padding: 10px 15px;
	border-right: 1px solid #c6cacf;;
}
.email-widget-title ul li a {
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}
.email-widget-title ul li i {
	margin-right: 10px;
}
.email-list-wrapper {
	padding: 0
}
.email-item  p{
	line-height: 1;
	margin: 0 0 15px;
}
.email-item .from {
	font-weight: 600;
}
.email-item .subject {
	font-size: 14px;
	margin-bottom: 0;
}
.email-item span {
	font-size: 12px;
	margin-right: 15px;
}
.email-item  {
	padding: 20px 0;
	border-bottom: 1px solid #eee;
	cursor: pointer;
}
.email-detailed-box  {
	padding: 15px;
}
.email-detailed-box .user-img img {
	width: 50px;
	border-radius: 50%;
}
.email-detailed-box .subject {
	font-size: 20px;
}
.email-detailed-box p {
	margin: 0;
}
.email-detailed-box .time,
.email-detailed-box .sent-to {
	font-size: 13px;
}
.email-from-box {
	margin: 30px 0;
}
.email-action-dropdown .email-action-link {
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	padding: 8px 15px;
	border-radius: 10px;
}
.email-action-dropdown .dropdown-menu a {
	font-size: 14px;
}
.email-action-dropdown .dropdown-menu a i {
	margin-right: 10px;
}
.email-attatchement-box .attatchement-item {
	padding: 15px;
	margin-right: 15px;
}
.email-attatchement-box .attatchement-item p {
	margin: 0;
}
.email-attatchement-box .attatchement-item p i {
	margin-right: 10px;
}
.email-attatchement-box .attatchement-item .file-name {
	font-size: 14px;
}
.email-attatchement-box .attatchement-item .size {
	font-size: 12px;
}
.email-body {
	margin: 30px 0;
}
.email-body p {
	font-size: 14px;
	line-height: 2;
}
.chat-detailed-box .single-chat-header {
	padding: 11px 15px;
}
.chat-box-wrapper {
	position: relative;
	max-height: 400px;
}
.chat-box-wrapper .chat-item .self-msg,
.chat-box-wrapper .chat-item .others-msg {
	max-width: 350px;
	padding: 15px;
	margin: 30px 15px 0;
	border-radius: 10px;
}
.chat-box-wrapper .chat-item  {
	position: relative;
}
.chat-box-wrapper .self-msg-time {
	position: absolute;
	top: 100%;
	right: 20px;
	font-size: 14px;
}
.chat-box-wrapper .others-msg-time {
	position: absolute;
	top: 100%;
	left: 20px;
	font-size: 14px;
}
.chat-box-wrapper .chat-item  .attatchement {
	border-top: 1px solid #eee;
	margin-top: 10px;
}
.chat-box-wrapper .chat-item  .attatchement span {
	margin-right: 10px;
	font-size: 12px;
	display: inline-block;
	margin-top: 10px;
	cursor: pointer;
}
.chat-box-wrapper .chat-item  .attatchement span i {
	margin-right: 10px;
}
.chat-box-wrapper .chat-item .self-msg p,
.chat-box-wrapper .chat-item .others-msg p {
	line-height: 2;
	margin: 0;
	font-size: 14px;
}
.chat-detailed-box .single-chat-header p {
	margin: 0;
	line-height: 1;
	font-weight: 600;
}
.chat-detailed-box .single-chat-header i {
	cursor: pointer;
	margin: 0 5px;
}
.chat-list-wrapper .message-container {
	height: auto;
}
.chat-list-wrapper .message-container .message-item img {
	width: 40px;
	border-radius: 50%;
	position: relative;
}
.chat-list-wrapper .message-container .message-item .available-status {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top: 40%;
}
.chat-list-wrapper {
	padding: 0;
}
.chat-list-wrapper .message-container .message-item {
	border-bottom: 1px solid #eee;
	padding: 20px 0 10px;
	margin: 0;
}
.chat-search {
	padding: 20px 15px;
}
.chat-search i {
	margin-right: 10px;
}
.chat-search input {
	border: none;
}
.type-message-box {
	padding: 15px;
	border-top: 1px solid #eee;
}
.type-message-box textarea {
	width: 100%;
	border: none;
}
.page-title h4 {
	margin: 0;
	line-height: 1;
	font-weight: normal;
}
.new-chat-btn{
	text-decoration: none;
	font-size: 12px;
	font-weight: 700;
	padding: 0 0 10px;
	line-height: 1;
}
.new-chat-btn i {
	margin-right: 5px;
}
.resource-wrapper {
	padding: 15px 0 25px;
	position: relative;
}
.total-views-count {
	position: absolute;
	text-align: center;
	top: 38%;
	z-index: 0;
	left: 39%;
}
.total-views-count p {
	margin: 0;
	line-height: 1;
}
.total-views-count .count {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 5px;
}
.traffic-wrapper {
	padding-bottom: 15px;
}
.resource-state-widget {
	padding: 15px;
}
.traffic-progress .google {
	width: 40%;
}
.traffic-progress .bing {
	width: 20%;
}
.traffic-progress .yahoo {
	width: 30%;
}
.traffic-progress .others {
	width: 10%;
}
.traffic-progress .food-it-app {
	width: 80%;
}
.traffic-progress .progress-bar {
	height: 4px;
}
.traffic-status  p {
	margin: 20px 0 5px;
	font-size: 14px;
	font-weight: 600;
}
.traffic-status .first-child {
	margin-top: 0 !important;
}
.leads-stat-widget .stat-item {
	
}
.leads-stat-widget .leads {
	line-height: 1;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 20px;
}
.leads-stat-widget .leads span {
	font-size: 24px;
	font-weight: 600;
	margin-right: 10px;
}
.recent-activities-widget {
	height: 450px;
}
.recent-activities-widget .widget-item-title {
	margin: 0 !important;
}
.project-progress-widget {
	padding: 15px;
}
.taks-pane .tab-pane {
	padding: 0;
}
.task-item {
	border-bottom: 1px solid #eee;
	padding: 20px 0;
}
.task-item .title {
	font-size: 18px;
	margin-bottom: 5px;
}
.task-item .desc {
	line-height: 2;
	font-size: 14px;
	margin: 0;
}
.task-item-icon i {
	font-size: 20px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	padding: 9px 0px;
}
.task-item .time,
.task-item .deadline {
	line-height: 1;
	margin: 0;
}
.task-item .deadline {
	padding: 10px 5px;
}
.task-item .time {
	font-size: 14px;
	border: 1px solid #eee;
	padding: 10px 5px;
}
.twitter-activities-widget {
	height: 410px;
	padding: 5px 15px 15px;
}
.country-wise-traffic-widget {
	padding: 0;
	overflow: hidden;
}
.country-wise-traffic-widget .widget-item-title {
	padding: 15px 15px;
	margin: 0;
}
.country-wise-traffic-header p {
	margin: 0;
	line-height: 1;
	font-weight: 600;
}
.country-wise-traffic-header,
.country-wise-traffic-item{
	padding: 20px 0;
	text-align: center;
}
.country-wise-traffic-item {
	font-size: 15px;
}
.country-wise-traffic-item .traffic-status p {
	margin-top: 0 !important;
}
.stat-item .traffic-status p {
	margin-top: 15px;
}
.stat-item .traffic-progress .progress-bar {
	height: 10px;
}
.total-task-donut {
	position: absolute;
	top: 39%;
	left: 39%;
	text-align: center;
}
.total-task-donut h5 {
	font-weight: 700;
	margin-bottom: 5px;
}
.total-task-donut p {
	margin: 0;
	font-size: 14px;
}
.user-list-widget {
	padding: 15px;
}
.user-list-widget .user-item  {
	border-bottom: 1px solid #eee;
	padding: 20px 0;
}
.user-list-widget .user-item:first-child{
	padding-top: 5px;
}
.user-list-widget .user-item  img{
	max-width: 30px;
	border-radius: 50%;
}
.user-list-widget .user-item  button {
	border: none;
	background: transparent;
	padding: 0;
	font-size: 14px;
	cursor: pointer;
}
.view-all-user-link {
	display: inline-block;
	margin: 20px 0 5px;
	padding: 10px 30px;
	font-size: 14px;
	font-weight: 600;
}
.view-all-user-link:hover {
	text-decoration: none;
}
.user-list-widget .user-item .username {
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	line-height: 2;
}
.user-list-widget .user-item  .dropdown-menu {
	left: auto;
	right: 0;
	border-radius: 0;
}
.user-list-widget .user-item  .dropdown-menu .dropdown-item {
	font-size: 14px;
}
.tab-pane table {
	width: 100%;
}
.dashboard-top-filter {
	padding: 20px 15px 30px;
}
.dashboard-top-filter label {
	display: block;
	margin-bottom: 10px;
}
.dashboard-top-filter input {
	border: 1px solid #eee;
	line-height: 1;
	padding: 15px;
	font-size: 14px;
	width: 100%;
}
.dashboard-top-filter select {
	width: 100%;
	border: 1px solid #eee;
	line-height: 1;
	padding: 12px 15px;
	font-size: 14px;
}
.dashboard-top-filter .date input {
	float: left;
	width: 50%;
}
.dashboard-top-filter .filter-link {
	display: inline-block;
	padding: 15px 0px;
	line-height: 1;
	width: 100%;
	font-weight: 600;
	margin-top: 34px;
}
table {
	width: 100%;
}
.order-status-stats {
	padding: 25px 0 30px;
}
.order-status-stats p {
	margin: 0;
}
.order-status-stats .count {
	font-size: 34px;
}
.order-status-stats .desc {
	font-size: 14px;
}
.pricing-widget {
	padding: 30px;
}
.pricing-widget .pricing-box {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}
.pricing-widget p {
	margin: 0;
}
.pricing-widget .plan-title {
	font-weight: 600;
}
.pricing-widget .plan-icon i {
	display: inline-block;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	font-size: 36px;
	padding: 20px 0;
	margin: 15px 0;
}
.pricing-widget .pricing-box .pricing {
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 10px;
}
.pricing-widget .pricing-box .desc  {
	font-size: 14px;
}
.pricing-widget  .plan-feature-item p {
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	margin: 30px 0 0;
}
.pricing-widget  .plan-feature-item p i {
	width: 25px;
}
.activate-plan-box {
	margin-top: 30px;
	padding: 15px 0;
}
.activate-plan-box a {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}
.activate-plan-box i {
	margin-right: 10px;
}
.chart-widget {
	padding: 15px;
}
.traffic-status .progress {
	height: auto;
}
.popover{
	border: 1px solid #eee;
	border-radius: 0
}
.tour-assay-tour .popover-header {
	border-radius: 0;
	background: #fff;
	padding: 15px;
}
.tour-assay-tour  .popover-body {
	padding: 15px;
}
.tour-assay-tour .popover-navigation {
	padding: 0 15px 15px;
}
@media only screen and (max-width:767px) {
	.order-summary-tab {
		overflow-x: scroll;
	}
	.email-widget-title ul li a span,
	.email-search,
	.email-detailed-box,
	.chat-detailed-box	{
		display: none;
	}
	.country-traffic-wrapper {
		overflow-x: scroll;
	}
	.country-wise-traffic-item,
	.country-wise-traffic-header {
		min-width: 430px;
	}
	.margin-sm-top {
		margin-top: 15px;
	}
}

/******************** Datatable styles *****************************/
table.dataTable thead th {
    position: relative;
    background-image: none !important;
	font-weight: 600;
	padding: 20px 0;
}
table.dataTable tbody tr,
table.dataTable thead tr {
	border-top: 1px solid #eee;
}
table.dataTable tbody tr td {
	padding: 20px 0;
	font-size: 14px;
}
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 24px;
    right: 20px;
    display: block;
    font-family: FontAwesome;
	cursor: pointer;
}
table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}
table.dataTable > tbody > tr.child span.dtr-title {
	font-size: 12px;
	font-weight: 700;
}
table.dataTable > tbody > tr.child span.dtr-title i {
	margin-right: 5px;
}
table.dataTable > tbody .product-desc img {
	max-width: 40px;
	border-radius: 50%;
	margin-right: 15px;
}
.payment span {
	font-size: 12px;
	padding: 5px 15px;
	border-radius: 10px;
	font-weight: 600;
}
table.dataTable > tbody .actions .dropdown-menu {
	left: auto;
	right: 51%;
	border-radius: 0;
	border: 1px solid #eee;
	width: auto;
}
table.dataTable > tbody .actions .dropdown-menu .dropdown-item {
	font-size: 14px;
	color: #7e869d;
}
table.dataTable > tbody .actions .action-link {
	cursor: pointer;
	padding: 5px 15px;
	border: 1px solid #eee;
	position: relative;
}
table.dataTable > tbody .actions .action-link i {
	margin-left: 15px;
}
table.dataTable > tbody .actions .download-link {
	margin-left: 15px;
}
table.dataTable > tbody .actions .dropdown-menu .dropdown-item i {
	margin-right: 15px;
}
.dataTables_filter {
	position: relative;
}
.dataTables_filter:before {
	font-family: FontAwesome;
	position: absolute;
    top: 11px;
    left: 15px;
    display: block;
	content: "\f002";
	color: #7e869d;
}
.dataTables_filter label {
	width: 100%;
	margin-bottom: 30px;
}
.dataTables_filter input {
	padding: 15px 15px 15px 45px;
	line-height: 1;
	border: 1px solid #eee;
	width: 100%;
	color: #7e869d;
}
.dataTables_wrapper select {
	border: 1px solid #eee;
	color: #7e869d;
}
.dataTables_paginate a {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	cursor: pointer;
	padding: 5px 10px;
	color: #7e869d;
}
.dataTables_paginate {
	float: right;
}
.table-footer-info {
	padding: 30px 0;
	border-top: 1px solid #eee;
}
.dataTables_paginate a:last-child {
	border-right: 1px solid #eee;
}
.order-summary-tab,
.invoice-summary-tab {
	padding: 30px 0 0;
}
@media only screen and (max-width:767px) {
	.dataTables_wrapper {
		min-width: 800px;
	}
}
/******************** datepicker style *******************************/
.ui-datepicker {
	border: 1px solid #eee;
	background: #fff;
	padding: 15px;
	display: none;
}
.ui-datepicker-title {
	text-align: center;
	color: #81878C;
}
.ui-datepicker-prev {
	float: left;
}
.ui-datepicker-next {
	float: right;
}
.ui-datepicker-next,
.ui-datepicker-prev {
	color: #81878C;
	cursor: pointer;
}
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover{
	text-decoration: none;
	color: #07253F;
}
.ui-datepicker-calendar th {
	color: #81878C;
	font-weight: 600;
	padding: 8px;
}
.ui-datepicker-calendar td {
	padding: 8px;
	text-align: center;
}
.ui-datepicker-calendar td a {
	color: #81878C;
}
.ui-datepicker-calendar td a:hover {
	text-decoration: none;
	color: #07253F;
}
.ui-datepicker-current-day {
	border: 1px solid #eee;
}

/********************* 7. Login, Forgot, Registration *********************/
.dark-background {
	background: #f7f7f7;
	position: relative;
}
.form-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 30px;
	width: 350px;
	border: 1px solid #eee;
	box-shadow: 0 0 5px #eee;
}
.form-wrapper .icon-input {
	border: 1px solid #eee;
	line-height: 1;
	margin-bottom: 15px;
	padding: 1px 15px;
}
.form-wrapper .icon-input i {
	margin-right: 15px;
}
.form-wrapper .icon-input input {
	border: none;
	line-height: 1;
	padding: 15px 0;
	display: inline-block;
	width: 85%;
}
.form-wrapper h5 {
	font-weight: 700;
	line-height: 1;
	margin-bottom: 30px;
}
.form-wrapper h5 i {
	margin-right: 5px;
}
.login-btn-wrapper {
	margin-top: 25px;
}
.login-btn {
	border: none;
	font-size: 14px;
	padding: 15px 60px;
	font-weight: 600;
	cursor: pointer;
}
.reset-password-link {
	font-size: 14px;
	margin: 20px 0 0;
	line-height: 1;
}
.reset-password-link a {
	font-weight: 600;
}

/**************************** 8. Full Calendar ************************/
.fc-state-default {
	border: 1px solid #eee;
	background: transparent !important;
	color: #7e869d;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
}
.fc-state-active {
	background: #a389D4 !important;
	color: #fff;
}
.fc-toolbar h2 {
	font-size: 26px;
	color: #7e869d;
}
.fc-unthemed .fc-content, 
.fc-unthemed .fc-divider, 
.fc-unthemed .fc-list-heading td, 
.fc-unthemed .fc-list-view, 
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row, 
.fc-unthemed tbody, 
.fc-unthemed td, 
.fc-unthemed th, 
.fc-unthemed thead {
	border-color: #eee;
}
.fc-toolbar.fc-header-toolbar {
	margin: 15px 0 30px;
}
.fc th {
	padding: 5px;
	font-weight: 600;
	color: #fff;
	background: #1dc5e9;
	font-size: 14px;
}
.event-list .fc-event {
    font-size: 14px;
    border-radius: 0;
    border: none;
    padding: 10px;
    margin: 15px 0;
	cursor: move;
}
.event-list p {
	margin: 0;
}
.yellow-event {
	background: #f5c22b;
}
.blue-event {
	background: #1dc5e9;
}
.purple-event {
	background: #a389D4;
}

/*********************** 9. Forms & Tabs *****************************/
.input-group-addon {
	border-radius: 0;
}
.form-control {
	border-radius: 0;
	padding: 15px;
	line-height: 1;
}
.form-with-input-icon .form-control {
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-left: none;
}
.input-group {
	margin: 0 0 20px !important;
}
.input-group-addon {
	background: transparent;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-right: none;
}
.login-btn {
	border: none;
	font-size: 14px;
	padding: 15px 60px;
	font-weight: 600;
	cursor: pointer;
}
.reset-password-link {
	font-size: 14px;
	margin: 20px 0 0;
	line-height: 1;
}
.reset-password-link a {
	font-weight: 600;
}
.bottom-input-border {
	line-height: 1;
}
.bottom-input-border .input-icon {
	text-align: center;
}
.bottom-input-border label {
	font-size: 14px;
	margin: 0;
}
.bottom-input-border  .input-row {
	border-bottom: 1px solid #eee;
	padding: 15px 0;
	margin-bottom: 20px;
}
.bottom-input-border .custom-control {
	font-size: 16px;
}
.bottom-input-border .form-control {
	border: none;
	padding: 0;
}
.default-form .input-row label {
	font-size: 14px;
}
.default-form .form-control {
	border: 1px solid #eee;
}
.default-form  .input-row {
	margin: 10px 0;
}
.custom-select {
	border: 1px solid #eee;
	border-left: none;
	border-radius: 0;
	padding: 12px 15px;
	height: auto;
	width: 100%;
	margin: 0 !important;
}
.custom-tab-content {
	line-height: 2;
	padding: 15px;
}
.tabs-with-icon .nav-tabs a i {
	margin-right: 10px;
}
.tabs-with-top-icon .nav-tabs a  {
	font-size: 18px;
	font-weight: 600;
	margin: 0;
	padding: 20px;
}
.tabs-with-top-icon .nav-tabs a i {
	display: block;
	font-size: 25px;
	margin-bottom: 10px;
}
.tabs-with-top-icon  .nav-tabs {
	background: #f7f7f7;
	border: 1px solid #f7f7f7;
}
.tabs-with-top-icon  .nav-tabs .nav-link.active,
.tabs-with-content-background .nav-tabs .nav-link.active {
	border-radius: 0;
}
.tabs-with-top-icon .nav-tabs .nav-link.active::after,
.tabs-with-content-background .nav-tabs .nav-link.active::after,
.tabs-with-circular-icon .nav-tabs .nav-link.active::after {
	background: transparent;
} 
.tabs-with-content-background .tab-content {
	background: #fff;
}
.tabs-with-content-background .nav-tabs a  {
	margin: 0;
	font-weight: 600;
	padding: 15px;
}
.tabs-with-content-background  .nav-tabs,
.tabs-with-circular-icon .nav-tabs{
	border: none;
}
.tabs-with-circular-icon  .nav-tabs a i {
	display: block;
	margin-bottom: 5px;
}
.tabs-with-circular-icon .nav-tabs .nav-link {
	padding: 20px 0;
	display: block;
	width: 80px;
	height: 80px;
}
.tabs-with-circular-icon .nav-tabs .nav-link.active {
	border-radius: 50%;
	font-weight: 600;
}
.tabs-with-circular-icon .nav-tabs a  {
	margin: 0;
	border: 0;
}

/**************** Buttons & Progress bar*******************/
.hr-saparator {
	margin: 15px 0;
}
.pb-w-3 {
	width: 25%;
}
.pb-w-6 {
	width: 50%;
}
.pb-w-9 {
	width: 75%;
}
.pb-w-12 {
	width: 100%;
}
